<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} About us {% endblock %}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
    <style>
        body {font-family: "Times New Roman", Georgia, Serif;}
        h1, h2, h3, h4, h5, h6 {
        font-family: "Playfair Display";
        letter-spacing: 5px;
        }
        
        body::-webkit-scrollbar {
            display: none;
        }

    </style>
</head>
<body>
  {% block content %}
    <!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="http://127.0.0.1:5000/" class="w3-bar-item w3-button"><b>About</b> NATURE</a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
          <a href="http://127.0.0.1:5000/home" class="w3-bar-item w3-button">Home</a>
          <a href="http://127.0.0.1:5000/signin" class="w3-bar-item w3-button">SignIn</a>
        
      </div>
    </div>
  </div>
  
  

    <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="nature.jfif" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">NATURE</h1><br>
      
      <p class="w3-large">Yet we have so disconnected ourselves from the natural world that it is easy—and often convenient—to forget that nature remains as giving as ever, even as it vanishes bit-by-bit.
The rise of technology and industry may have distanced us superficially from nature, but it has not changed our reliance on the natural world: most of what we use and consume on a daily basis remains the product of multitudes of interactions within nature, and many of those interactions are imperiled.
Beyond such physical goods, the natural world provides less tangible, but just as important, gifts in terms of beauty, art, and spirituality.
      </p>
      
    </div>
  </div>
  
  <hr>
  {% endblock %}

</body>
</html>